/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: white;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
  padding-bottom: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px '微軟正黑體', 'cwTeXYen', sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 500px;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  position: fixed;
  top: 0;
  z-index: 8060;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23ccc%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) center center no-repeat;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

#fancybox-loading:after {
  position: fixed;
  top: 50%;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  content: "Loading";
}

.fancybox-close {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  padding: 4px 6px 6px 6px;
  color: white;
}
.fancybox-close:before {
  content: "\f00d";
}

.fancybox-close {
  position: absolute;
  top: -12px;
  right: -11px;
  width: 28px;
  height: 30px;
  cursor: pointer;
  z-index: 8040;
  background: #333;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: -1px 1px 3px #555;
  -moz-box-shadow: -1px 1px 3px #555;
  box-shadow: -1px 1px 3px #555;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(20%,20%,20%,0.6);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../../../../../../../c/img/frame/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.fancybox-inner .title {
  padding: 5px 15px;
  font-weight: bold;
  background: #13b5b1;
  color: white;
  line-height: 180%;
}
.fancybox-inner .block {
  position: relative;
  background: white;
  line-height: 180%;
  padding: 15px;
  padding-bottom: 10px;
}
.fancybox-inner .block {
  zoom: 1;
}
.fancybox-inner .block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fancybox-inner .block .line {
  font-size: 14px;
  padding: 0 10px;
}
.fancybox-inner .block .type_photo{
  display: inline-block;
  width: 62px;
  height: 62px;
  border: #DDD 1px solid;
  border-radius: 3px;
  font-size: 0;
  margin: 5px;
  vertical-align: top;
}
.fancybox-inner .block .type_photo:hover,.fancybox-inner .block .type_size:hover{
  border: #dd0000 1px solid;
  color: #13b5b1;
}
.fancybox-inner .block .type_photo.active,.fancybox-inner .block .type_size.active{
  border: #f70000 1px solid;
  color: #f70000;
}
.fancybox-inner .block .type_photo:focus,.fancybox-inner .block .type_size:focus{
 border: #dd0000 1px solid;
}
.fancybox-inner .block .type_photo img{
  max-width: 60px;
  max-height: 60px;
  border: #FFF 2px solid;
  border-radius: 3px;
}
.fancybox-inner .block .type_size{
  display: inline-block;
  width: 62px;
  height: 62px;
  border: #DDD 1px solid;
  border-radius: 3px;
  font-size: 0;
  margin: 5px;
  vertical-align: top;
  line-height: 60px;
}
.fancybox-inner .block .type_size span{
  display: block;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border: #FFF 2px solid;
  border-radius: 3px;
  font-weight: 700;
}
.fancybox-inner .block .button {
  vertical-align: top;
}
.fancybox-inner .block .key {
  color: black;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
  width: 80px;
}
.fancybox-inner .block .value {
  display: inline-block;
}
.fancybox-inner .block .price {
  color: #dd0000;
  font-weight: bold;
}
.fancybox-inner .block hr {
  margin: 10px 0;
}
.fancybox-inner .block .product {
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
}
.fancybox-inner .block .options {
  max-width: 400px;
  display: inline-block;
}
.fancybox-inner .block .options .option {
  margin: 10px 0;
}
.fancybox-inner .block .options .key {
  min-width: 40px;
  vertical-align: top;
  display: inline-block;
}
.fancybox-inner .block .options .value {
  display: inline-block;
  width: 80%;
  margin-bottom: -8px;
  position: relative;
  z-index: 0;
}
.fancybox-inner .block .options .value > li {
  padding: 10px 10px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  height: 36px;
  border: 1px solid #cccccc;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  vertical-align: top;
}
.fancybox-inner .block .options .value > li.img {
  padding: 1px;
}
.fancybox-inner .block .options .value > li img {
  height: 100%;
  display: block;
  width: 36px;
  text-align: center;
  position: relative;
  z-index: -1;
}
.fancybox-inner .block .options .value .active {
  position: relative;
  border: 1px solid #2290c6;
  color: #2290c6;
}
.fancybox-inner .block .options .value .active:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #2290c6 transparent;
  z-index: 10;
}
.fancybox-inner .block .options .value .active .type {
  padding: 3px;
}
.fancybox-inner .block .options .value .active .fa {
  position: absolute;
  right: -1px;
  bottom: -2px;
  color: white;
  font-size: 12px;
  z-index: 20;
  -ms-transform: scale(0.8, 0.8);
  /* IE 9 */
  -webkit-transform: scale(0.8, 0.8);
  /* Chrome, Safari, Opera */
  transform: scale(0.8, 0.8);
}
.fancybox-inner .block .options .value .disabled {
  position: relative;
  cursor: not-allowed;
  border: 1px dashed #cccccc;
  opacity: 0.5;
}
.fancybox-inner .block .options .value .disabled .fa {
  position: absolute;
  right: 2px;
  bottom: 0px;
  color: #cccccc;
  font-size: 16px;
  z-index: 5;
}
.fancybox-inner .block .options .value .item {
  font-size: 13px;
  margin-bottom: 8px;
}
.fancybox-inner .block .quantity {
  vertical-align: top;
}
.fancybox-inner .block hr + .line {
  text-align: center;
}
.fancybox-inner .block .final-price:after {
  content: "";
  display: block;
}
.fancybox-inner .name {
  font-weight: bold;
  margin-right: 5px;
}
.fancybox-inner .actions {
  border-top: 1px solid #dddddd;
  text-align: center;
  margin: 10px 0 0px;
  padding: 15px 0 10px;
}

.f-order h3 {
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
  padding: 0 0 10px;
}
.f-order p {
  line-height: 1.4;
  font-size: 0.9em;
}
.f-order .button {
  margin: 0 6px;
}
.fancybox-meetingUsr,.fancybox-edit{
  min-width: 600px;
}
.fancybox-meetingUsr h3 {
  text-align: center;
}
.fancybox-meetingUsr .line {
  margin-bottom: 10px;
}
.fancybox-meetingUsr .line:last-child {
  margin-bottom: 0;
}
.fancybox-meetingUsr .key {
  width: 100% !important;
}
.fancybox-meetingUsr input, .fancybox-meetingUsr textarea {
  margin-bottom: 0px !important;
}
.fancybox-meetingUsr textarea {
  resize: vertical;
}
.fancybox-meetingUsr .button {
  margin: 0 10px;
}
.fancybox-meetingUsr p {
  margin-top: 5px;
  display: block;
}
.fancybox-meetingUsr-msg p {
  line-height: 1.9;
  font-size: 1.05em;
  text-align: center;
  padding: 20px 10px 15px 10px;
}
.fancybox-meetingUsr .group_sel {
  text-align: center;
}
.fancybox-meetingUsr .option_btn{
  display: inline-block;
  width: 60px;
}
.fancybox-meetingUsr .group_remove, .group_adds {
  width: 160px;
  height: 160px;
  margin: 5px 0 10px 0;
  border: 1px solid #DDD;
  font-size: 0.9em;
  background: #FFF;
  color: black;
  border-radius: 5px;
}
.btn-close:after{
  content: "";
}